.voice-input-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.label{
    display: flex;
    flex-direction: column;
    gap:1rem;
    justify-content: center;
    align-items: center;
}
.voice-button-container{
    display: flex;
    flex-direction: row;
    gap:4rem;
    .cds--btn--icon-only{
        border-radius: 2rem;
    }    
}